<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar Reporte</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="main-container">
        <div class="left-panel">

            <h1>Subir archivos XML</h1>
            <p>Selecciona los archivos XML para generar el reporte en Excel y PDF.</p>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label for="xml_files">Archivos XML:</label>
                <input type="file" id="xml_files" name="xml_files" multiple accept=".xml" required>
                <button type="submit">Generar Reporte</button>
            </form>

            {% if excel_report %}
            <div class="reports">

            </div>
            <div class="new-report">
                <a href="/" class="btn-new-report">Generar Nuevo Reporte</a>
            </div>
            <div>
                <a href="{{ url_for('dashboard') }}" class="btn-dashboard">Ver Dashboard</a>
            </div>
            {% endif %}
        </div>

        <!-- sección de previsualización en index.html -->
        {% if excel_report %}
        <div class="right-panel">
            <div class="preview">
                <h3>Previsualización del Reporte</h3>
                <div class="table-container">
                    {{ tabla_html|safe|replace('class="dataframe"', 'class="preview-table"') }}
                </div>
            </div>
            <div class="chart-container">
                <canvas id="myChart"></canvas>
            </div>
        </div>
        {% endif %}
    </div>

    <script>
        {% if datos_json %}
        var datos = {{ datos_json|safe }};
        var ctx = document.getElementById('myChart').getContext('2d');
        var labels = datos.map(item => item['Razón Social']);
        var valores = datos.map(item => parseFloat(item['Total con impuestos']));

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Total con impuestos',
                    data: valores,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        {% endif %}
    </script>
</body>
</html>
