<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar Reporte</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<nav class="navbar">
    <ul class="menu">
        <li><a href="/index">Subir Archivos</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/reportes.anteriores">Reportes</a></li>
    </ul>
    <!-- Menú de usuario en la esquina derecha -->
    <div class="user-info">
        <i class="fas fa-user"></i> <!-- Ícono de usuario -->
        <span>{{ session['user_email'] }}</span> <!-- Correo del usuario -->
        <a href="/logout" class="logout-icon">
            <i class="fas fa-sign-out-alt"></i> <!-- Ícono de cerrar sesión -->
        </a>
    </div>
</nav>
<body>
    <div class="main-container">
        <div class="left-panel">

            <h1>Subir archivos XML</h1>
            <p>Selecciona los archivos XML para generar el reporte en Excel y PDF.</p>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label for="xml_files">Archivos XML:</label>
                <input type="file" id="xml_files" name="xml_files" multiple accept=".xml" required>
                <button type="submit">Generar Reporte</button>
            </form>

            {% if excel_report %}
            <div class="reports">

            </div>
            <div class="new-report">
                <a href="/" class="btn-new-report">Generar Nuevo Reporte</a>
            </div>
            <div>
                <a href="{{ url_for('dashboard') }}" class="btn-dashboard">Ver Dashboard</a>
            </div>
            {% endif %}
        </div>
</body>
</html>
