<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Página de Inicio</title>
    
</head>
<body class="bodyinicio">
    <div class="containerinicio">
        <div class="welcome-text">
            <h1>Bienvenido a Nuestra Plataforma</h1>
            <p>Descubre todas las posibilidades que tenemos para ti. 
               Únete a nuestra comunidad y comienza a disfrutar de todos los beneficios.</p>
        </div>
        <div class="buttons">
            <a href="/registro" class="btn register-btn">Registrarse</a>
            <a href="/login" class="btn login-btn">Iniciar Sesión</a>
        </div>
    </div>
</body>
</html>