<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar Reporte</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .top-right {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 16px;
            text-align: right;
        }
        .report-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        .report-table th, .report-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<nav class="navbar">
    <ul class="menu">
        <!-- <li><a href="{{ url_for('upload_files') }}">Archivos Cargados</a></li> -->
        <li><a href="/index">Subir Archivos</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/reportes.anteriores">Reportes</a></li>
    </ul>
    <!-- Menú de usuario en la esquina derecha -->
    <div class="user-info">
        <i class="fas fa-user"></i> <!-- Ícono de usuario -->
        <span>{{ session['user_email'] }}</span> <!-- Correo del usuario -->
        <a href="/logout" class="logout-icon">
            <i class="fas fa-sign-out-alt"></i> <!-- Ícono de cerrar sesión -->
        </a>
    </div>
</nav>
   
</nav>
<body>
    

    <!-- En reportes.html -->
<div class="container">
    <h1>Reportes Anteriores</h1>

    {% if reportes %}
        <table class="report-table">
            <thead>
                <tr>
                    <th>Nombre del Reporte</th>
                    <th>Fecha</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for reporte in reportes %}
                    <tr>
                        <td>{{ reporte['nombre'] }}</td>
                        <td>{{ reporte['fecha'] }}</td>
                        <td>${{ "%.2f"|format(reporte['total']) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay reportes anteriores para mostrar.</p>
    {% endif %}
</div>
</body>

