<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar Reporte</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<nav class="navbar">
    <ul>
        <li><a href="/upload">Subir Archivos</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/reportes.anteriores">Reportes</a></li>
        <li><a href="/logout">Cerrar Sesión</a></li>
    </ul>
</nav>
